.App {
  text-align: center;
  font-family: "Manrope", sans-serif;
  overflow-x: hidden;
}

h2,
h4,
footer {
  color: black;
}

.icons {
  margin-left: 0.8em;
  margin-right: 0.8em;
  font-size: 1.2em;
  color: white;
  transition: all 0.4s ease-out;

  &:hover {
    transform: scale(1.1);
  }
}

.navbar-nav {
  font-size: 90%;
}

.footer-icon {
  color: #000;
  cursor: pointer;
}

.footer-links {
  font-size: 0.8em;
}

.footer-links p {
  margin-bottom: 0.3em;
  color: #838383;
}

.footer-links a {
  color: black;
  text-decoration: none;
}

.footer-button {
  color: #000;
  border-color: #000;
}

.copyright {
  color: #000;
  font-size: 0.6em;
}

.horizontal-scroll-content {
  max-width: 100%;
  overflow-x: auto;
}

.video-backgorund {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
